.modalContentBody {
  background: #ffffff;
  border-radius: 12px;
  padding: 25px 16px;
}

.modalContentHeader {
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
}

.modalContentHeader_title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modalContentHeader_title h2 {
  margin: 0;
  font-family: var(--montserrat-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: var(--primary-color);
}

.modalContentHeader p {
  font-family: var(--montserrat-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
  padding-left: 42px;
  color: #84818a;
}

.filterTicketForm {
  padding: 28px 16px 42px 16px;
}

.submitButtonContainer {
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}
