.masterPasswordModal{
    padding: 21px 26px;
}

.masterPassword_modal_header_section {
  
  color: #2e2a40;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-bottom: 24px;
}
.masterPassword_modal_header_section p{
    margin: 0;
}

.modalFooter {
  display: flex;
  gap: 16px;
}
