.confirm_modalContent {
  padding: 21px 10px 36px 10px;
  display: flex;
  flex-direction: column;
}

.confirm_modal_header_section {
  padding: 0px 72px 15px 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.confirm_modal_header_section p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: var(--primary-color);
}

.confirmation_countdown {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.confirm_modal_details_section {
  border-radius: 12px;
  background: #b5d7fa4d;
  padding: 21px 16px 24px 16px;
}

.confirm_modalContent :global(.ant-card .ant-card-body) {
  padding: 0px !important;
}

.accountDataItem_conatiner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accountDataItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordField {
  display: flex;
  align-items: center;
  gap: 20px;
}

.eyeIcon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.accountDataItem_lable {
  font-family: var(--manrope-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  color: #6d6d6d;
  text-align: left;
}

.accountDataItem_values {
  font-family: var(--manrope-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  text-align: right;
  color: var(--primary-color);
}

.confirm_modal_buttons_section {
  padding: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation_section {
  padding: 0px 48px;
}
.confirmation_section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--primary-color);
}

.confirm_modal_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (max-width: 480px) {
  .confirm_modal_header_section {
    padding: 0px;
  }
}
